body{
  background-color: #a2d3dc;
  background-repeat: space;
  font-family: "Lucida Console", "Courier New", monospace;
}
  
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > div {
  margin-bottom: 30px;
}

button {
  background-color: #2dc3dc;
  border:solid #448db6;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}

.rotationcontainer{
  background-color: #7dcfdc;
  border:solid #0c79b6;
  width:300px;
  height:12px;
}

#rotationDot{
  position:relative;
  background-color: #448db6;
  width:15%;
  height:100%;
  left:42.5%
}